* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body {
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

.top-head {
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #444;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: .1rem;
  font-size: .7rem;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 999;
  background-color: black;
  color: white;
}

.arrow {
  display: inline-block;
  margin-left: .8em;
  transition: transform .4s ease;
}

.top-head:hover .arrow {
  transform: translateX(4px) scaleX(1.5);
}
.navbar{
  background-color: black;
}
.logo{
  height: 50px;
}
.navbar-nav .nav-link {
  color: #eee9f1;
  font-weight: 400;
  margin: 0 10px;
  width: 5.2rem;
  
}
.navbar-nav .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}
.right-nav{
  font-size: 1.3rem;
  margin-left: 15px;
  cursor: pointer;
  color: #fff;
}
/* body starting*/

 .body-pic {
  width: 100%;
  height: auto;
  object-fit: cover;
  
  
}

.container .row:first-of-type{
  margin-top: 1rem;
}
.fa-pic{
  width: 100%;
  height: auto;
}
.container .founder h4{
  font-weight: normal;
  font-size: 1.5rem;
}
.container .founder p{
  color: rgb(128, 121, 121);
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.container .founder button{
  padding: .8rem;
  width: 8.5rem;
  margin-top: 1.5rem;
  transition: .2s;
 
}
.container .founder button:hover{

  transform: scale(1.02);

}
.founder-info{
  padding-left: 4rem;
  padding-bottom: 10rem;
  
}













@media (max-width: 768px){
 

  .right-nav{
    margin-top: .5rem;
    gap: 10px;
  }
  .logo{
    padding: 10px 20px;
    margin-left: 5rem;

  }
  .founder-info{
     margin: 2rem 0;
}
.container .founder h4{
  text-align: center;
  font-size: 1.2rem;
 
}
.container .founder p {
  text-align: center;
  flex-wrap: wrap;
}
.container .founder button{
  position: absolute;
  left: 42%;
  
}


}
@media (min-width: 768.1px) and (max-width: 992px){


  .right-nav{
    margin-top: .5rem;
    gap: 10px;
  }
  .logo{
    padding: 5px 20px;
    margin-left: 5rem;

  }
  
  .founder-info{
  padding-left: 4rem;
  padding-top: 10rem;
  
}




}
@media (min-width: 992.1px) and (max-width: 1199.98px) {

.right-nav{
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  gap: 15px;
 
}
.navbar-nav .nav-link {
  color: #eee9f1;
  font-weight: 400;
  width: auto;
  margin: 0 5px;

}





  
}
@media (min-width: 1200px){
  .navbar-nav .nav-link {
  color: #eee9f1;
  font-weight: 400;
  width: auto;
  margin: 0 5px;
  
}
.right-nav{
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  gap: 18px;
  margin-right: 2.2rem;
  
}
}


